.btp-tabs {
    box-sizing: border-box;

    &.el-tabs.el-tabs--top,
    &.el-tabs.el-tabs--bottom {
        display: flex;
        flex-direction: column;

        .el-tabs__content {
            position: relative;
            flex: 1;

            .el-tab-pane {
                position: relative;
                height: 100%;
            }
        }
    }

    &.el-tabs.el-tabs--left,
    &.el-tabs.el-tabs--right {
        .el-tabs__content {
            position: relative;
            height: 100%;

            .el-tab-pane {
                position: relative;
                height: 100%;
            }
        }
    }
}