:root {
    --btp-button-text-color-secondary: var(--el-color-primary);
    --btp-button-hover-text-color-secondary: var(--el-color-primary);
    --btp-button-active-text-color-secondary: var(--el-color-white);

    --btp-table-header-bg-color: #F1F6FE;
    --btp-table-header-bg-height: 48px;
    --btp-table-header-bg-height-large: 58px;
    --btp-table-header-bg-height-small: 38px;
    --btp-table-header-cell-height: 39px;
    --btp-table-header-cell-height-large: 49px;
    --btp-table-header-cell-height-small: 29px;
    --btp-table-header-text-color: #3E496B;


}