/** 按钮间隔 线 */
.ever-button-divider {
    position: relative;

    &+.ever-button-divider::before {
        position: absolute;
        left: -7px;
        display: block;
        width: 1px;
        height: 40%;
        content: '';
        background: var(--el-border-color);
    }
}
