html,
head,
body {
    width: 100%;
    height: 100%;
    margin: 0;
}
del {
    text-decoration: line-through;
}
under {
    text-decoration: underline;
}

/* 页面根样式 */
.bt-page {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.bt-child-body {
    position: relative;
    width: 100%;
    height: 100%;
}

.bt-view {
    height: 100%;
    background-color: var(--ever-color-bg);
}

.bt-view__table,.bt-view__table--nospace {
    --bt-table-padding:0 24px;
    padding: var(--bt-table-padding); 
    background-color: #ffffff;
    .table-header--search{
        background-color: #ffffff
    }
    .table-header--left {
        padding-bottom:8px;
    }
    .table-header--right {
        padding-bottom:8px;
    }
}
.bt-view__table--nospace {
    padding:0;
}

.bt-view__card--layout-full {
    display: flex;
    flex-direction: column;
}


