.bt-dialog {
    display: flex;
    flex-direction: column;

    min-width: 432px;
    padding: 0 !important;

    .el-dialog__header {
        height: 48px;
        padding-top: 12px;
        margin-right: 0;
    }

    .el-dialog__body {
        flex: 1
    }
}