.bt-dockpanel {
    display: flex;
    flex-direction: row;

    .bt-dockpanel-separator {
        position: relative;
        z-index: 100;
        .bt-dockpanel-separatorline {
            position: absolute;
            left: -4px;
            cursor: ew-resize;
        }
    }

    .bt-dockpanel-right {
        flex: 1;
    }

    .bt-dockpanel-dock {
        position: absolute;
        top: calc(50% - 13px);
        left: -13px;
        transform: rotate(180deg);
        i {
            position: absolute;
            left: 6px;
        }
    }

    .bt-dockpanel-dock:hover {
        color: white;
    }

    .bt-dockpanel-collapsed {
        transform: rotate(0deg);
    }
}

.bt-dockpanel.bt-dockpanel--horizontal {
    flex-direction: column;
    .bt-dockpanel-separator {
        position: relative;
        .bt-dockpanel-separatorline {
            position: absolute;
            top: -5px;
            cursor: ns-resize;
        }
    }

    .bt-dockpanel-dock {
        position: absolute;
        top: -13px;
        left: calc(50% - 14px);
        transform: rotate(-90deg);
    }

    .bt-dockpanel-collapsed {
        transform: rotate(90deg);
    }
}
