.bt-form {
    display: flex;
    flex-wrap: wrap;
}

.bt-multi-form {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
}

.bt-form-col-1 {
    width: 240px;

    .el-form-item:nth-child(1n) {
        width: 100% !important;
        margin-right: 0;

        .el-input {
            width: 100% !important;
        }
    }
}

.bt-form-col-2 {
    width: 512px;

    .el-form-item:nth-child(2n) {
        margin-right: 0;
    }
}

.bt-form-col-3 {
    width: 784px;

    .el-form-item:nth-child(3n) {
        margin-right: 0;
    }
}

.bt-form-col-4 {
    width: 1120px;

    .el-form-item:nth-child(4n) {
        margin-right: 0;
    }
}

.bt-form-col-5 {
    width: 1328px;

    .el-form-item:nth-child(5n) {
        margin-right: 0;
    }
}

.bt-form-item--row1 {
    .el-textarea__inner {
        height: 30px;
    }
}

.bt-form-item--row2 {
    height: 90px;
    .el-textarea__inner {
        height: 60px;
    }
}

.bt-form-item--row3 {
    height: 120px;
    .el-textarea__inner {
        height: 90px;
    }
}