.bt-group {
    > .bt-group-title {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 40px;
        transition: all 600ms ease-in-out;
        > .bt-group--expand-icon {
            cursor: pointer;
        }
        > .bt-group--divider {
            display: inline-block;
        }
        > .bt-group--title {
            flex: 1;
        }
        > .bt-group--expand-button {
            cursor: pointer;
        }
    }
    > .bt-group--content {
        overflow: hidden;
        transition: all 600ms ease-in-out;
    }
}
