.bt-image-carousel {
    display: inline-flex;
    align-items: center;
    .bt-image-carousel--vertical {
        flex-direction: column;
    }

    .bt-image-carousel__previous,
    .bt-image-carousel__next {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 24px;
        height: 60px;
        cursor: pointer;
        border-radius: 4px;

        .bt-image-carousel--vertical & {
            width: 60px;
            height: 24px;
        }
    }

    .bt-image-carousel__previous > img {
        transform: rotate(0deg);

        .bt-image-carousel--vertical {
            transform: rotate(90deg);
        }
    }

    /* stylelint-disable-next-line no-descending-specificity */
    .bt-image-carousel__next > img {
        transform: rotate(180deg);

        .bt-image-carousel--vertical {
            transform: rotate(270deg);
        }
    }

    .bt-image-carousel__image-list {
        position: relative;
        margin: 0 4px;
        overflow: hidden;

        .bt-image-carousel--vertical {
            margin: 4px 0;
        }
    }

    .bt-image-carousel__virtual-list,.bt-image-carousel__virtual-slot {
        position: absolute;
        display: inline-flex;
        .bt-image-carousel--vertical {
            flex-direction: column;
        }
    }
    .bt-image-carousel__image-layout {
        position: relative;
        margin: 0 5px;
        .handle-progress {
            position: absolute;
            top:49%;
            left:10%;
            width: 80%;
            opacity: 0.7;
        }
        .image-handle {
            position: absolute;
            top: 0;
            right: 0;
            box-sizing: border-box;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            cursor: pointer;
            background: rgb(0 0 0 / 60%);
            opacity: 0;
            transition: var(--el-transition-duration-fast);
            .handle-icon {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding: 0 6%;
                color: #fff;
                .el-icon {
                    font-size: 170%;
                }
            }
            .delete-handle-icon {
                position: absolute;
                top: 10px;
                right: 10px;
                color: #fff;
                .el-icon {
                    font-size: 140%;
                }

                .delete-outer {
                    padding: 2px;
                    background-color: #000;
                    border-radius: 50%;
                }
            }
        }
        .image-handle:hover {
            opacity: 0.5;
        }
    }
    .bt-image-carousel__image {
        // width: 174px;
        max-width: none;
        // height: 132px;
        cursor: pointer;
        background: #fff;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 4px;
        object-fit: scale-down;

        .bt-image-carousel--vertical {
            margin: 5px 0;
        }
        .image-slot {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            font-size: 30px;
            color: var(--el-text-color-secondary);
            background: var(--el-fill-color-light);
            .el-icon {
                font-size: 30px;
            }
        }
    }
}