/**关闭按钮大小*/
$close-size: 15px;
/**字体及关闭按钮颜色*/
$font-color: #4b74e2;
/**路由子项底部线条颜色*/
$router-bottom-border: #4b74e2;
/**路由高度*/
$tag-height: 40px;

.bt-router-tag {
    display: flex;
    width: 100%;
    height: 100%;

    .router-tag__div--list {
        display: flex;
        /**标签列表*/
        width: 100%;
        height: $tag-height;
        margin-top: 2px;
        overflow-x: auto;
        scroll-behavior: smooth;

        /**标签项*/
        .router-tag-item {
            position: relative;
            box-sizing: border-box;
            display: flex;
            align-items: center;
            justify-content: center;
            width: max-content;
            /**标签项*/
            height: $tag-height;
            padding: 0px $close-size 0px calc($close-size + $close-size);
            margin-right: 2px;
            font-size: 14px;
            cursor: pointer;
            border: 1px solid #e8eef9;

            /**底部线条*/
            &:before {
                position: absolute;
                top: 100%;
                left: 0px;
                width: 0px;
                height: 1px;
                content: '';
                background: $router-bottom-border;
                transition: width 0.5s;
            }

            &:hover {
                &:before {
                    position: absolute;
                    top: 100%;
                    left: 0px;
                    width: 100%;
                    height: 1px;
                    content: '';
                    background: $router-bottom-border;
                }
            }

            .item--name {
                width: max-content;
                padding-right: 5px;
                /**标签内容*/
                color: $font-color;
            }

            .item--close {
                position: relative;
                /**标签关闭按钮*/
                width: $close-size;
                height: $close-size;
                background: #ffff;

                &::before {
                    position: absolute;
                    width: $close-size;
                    height: $close-size;
                    line-height: $close-size;
                    color: $font-color;
                    text-align: center;
                    content: 'x';
                }
            }

            .item--none {
                /**用于标签按钮占位，防止鼠标移入，标签项变宽*/
                float: right;
                width: $close-size;
                height: $close-size;
            }
        }
    }

    .router-tag__div--list::-webkit-scrollbar {
        display: none;
    }

    /**路由移动*/
    .bt-router-tag__div--left {
        position: relative;
        width: 50px;
        height: $tag-height;
        cursor: pointer;
        background: #ffffff;

        &::before {
            position: absolute;
            width: 100%;
            height: 100%;
            font-size: 20px;
            font-weight: 600;
            line-height: $tag-height;
            text-align: center;
            content: '<';
        }

        &::after {
            position: absolute;
            top: calc(50% - 15px);
            left: 85%;
            width: 1px;
            height: 30px;
            content: '';
            background: linear-gradient(to bottom, transparent, #d0d0d5, transparent);
        }
    }

    .bt-router-tag__div--right {
        position: relative;
        width: 50px;
        height: $tag-height;
        cursor: pointer;
        background: #ffffff;

        &::before {
            position: absolute;
            width: 100%;
            height: 100%;
            font-size: 20px;
            font-weight: 600;
            line-height: $tag-height;
            text-align: center;
            content: '>';
        }

        &::after {
            position: absolute;
            top: calc(50% - 15px);
            right: 85%;
            width: 1px;
            height: 30px;
            content: '';
            background: linear-gradient(to bottom, transparent, #d0d0d5, transparent);
        }
    }
}
/**自定义菜单*/
.bt-router-tag__div--menu {
    position: fixed;
    top: 10px;
    left: 100px;
    z-index: 99999;
    width: 100px;
    min-height: 60px;
    font-size: 12px;
    color: #3e4a6b;
    background: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 3px;
    box-shadow: 1px 1px 1px #dddddd;

    &::before {
        position: absolute;
        top: -10px;
        left: 10%;
        width: 20px;
        height: 10px;
        clip-path: polygon(0% 0%, 100% 100%, 40% 100%);
        content: '';
        background: #ffffff;
    }

    /**菜单子项*/
    .menu-item {
        width: 90px;
        height: 20px;
        padding: 5px 0px 5px 10px;
        cursor: pointer;

        &:hover {
            color: #5c84f2;
            background: #eef2ff;
        }
    }
}
