
.bt-search-item-setting {
    .field-title {
        height: 40px;
        font-weight: bold;
        line-height: 40px;
    }
    .field-list {
        height: 240px;
        overflow-y: auto;
    }
    .field-items {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 30px;
        line-height: 30px;
        text-align: center;
        cursor: pointer;
        &.hover {
            border-top: 1px solid var(--el-color-primary);
        }
    }
    .field-items-none {
        display: flex;
        width: 100%;
        height: 0px;
    }
}