@use 'bt-table-col-setting';

.bt-table {
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: white;

    .bt-table--searchbar:not(:empty) {
        padding: var(--bt-table-ex--searchbar-padding);
        padding-top: 24px;
    }

    .bt-table--toolbar:not(:empty) {
        z-index: 10;
        display: flex;
        justify-content: space-between;
        padding: var(--bt-table-ex--toolbar-padding);
        background: white;
    }

    .el-loading-spinner .path {
        stroke: white;
    }

    .bt-table--header {
        z-index: 4;

        .header-left {
            float: left;
        }

        .header-right {
            float: right;
        }
    }

    .table-empty {
        color: var(--el-text-color-placeholder);
    }

    .bt-table--content {
        position: relative;
        display: block;
        flex: 1;
    }

    .bt-table--content-wrap {
        position: absolute;
        width: 100%;
        height: 100%;
    }

    .bt-table--pageable {
        padding: 0;
    }

    .el-table .el-table__header thead tr {
        height: 48px;
        color: rgb(62, 74, 107);
    }

    .el-table th.el-table__cell {
        background-color: var(--ever-table-color-head-bg);
    }

    .el-table th.el-table-fixed-column--left,
    .el-table th.el-table-fixed-column--right {
        background-color: var(--ever-table-color-head-bg);
    }

    .el-table.is-scrolling-left th.el-table-fixed-column--left,
    .el-table.is-scrolling-right th.el-table-fixed-column--right {
        background-color: var(--ever-table-color-head-bg);
    }

    .el-table.is-scrolling-none th.el-table-fixed-column--left,
    .el-table.is-scrolling-none th.el-table-fixed-column--right {
        background-color: var(--ever-table-color-head-bg);
    }

    .el-table .el-table__row td {
        height: 40px;
        padding: 0;
    }

    .el-table .el-table__body tr:hover>td {
        background-color: #F5F6FA;
    }
}