@use 'bt-search-item-setting';
$h-show: 80px;
$w-label: 109px;
$w-content: 224px;

.ever-table-screen {
    position: relative;
    box-sizing: border-box;
    height: $h-show;
    padding-top: 24px;
    overflow: hidden;

    .el-date-editor {
        --el-date-editor-daterange-width: $w-content;
        --el-date-editor-width: 100%;
    }

    .el-select {
        width: 100%;
    }

    .ever-table-screen-tj {
        position: absolute;
        top: 24px;
        left: 0;
        width: 100%;
        background-color: #fff;
    }

    &.ever-table-screen--all {
        overflow: inherit;

        .ever-table-screen-tj {
            box-shadow: 0px 4px 4px 0px rgba(200, 201, 204, 0.3);
        }
    }
    .fold-index {
        z-index: 10;
    }
    .unfold-index {
        z-index: 20;
    }
}

.ever-table-screen__item--label {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: right;
    width: $w-label;
    padding-right: 8px;
    padding-left: 16px;
    font-size: 14px;
    .ever-table-screen__item--name {
        width: $w-label;
        overflow: hidden;
        text-align: right;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

.ever-table-screen__item--content {
    position: relative;
    width: $w-content;

    .item--remove {
        display: none;
    }

    &:hover .item--remove {
        position: absolute;
        top: -6px;
        right: -6px;
        z-index: 10;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 14px;
        height: 14px;
        background-color: #8c95a8;
        border-radius: 50%;

        .item-icon--remove {

            font-size: 12px;
            color: #fff;
            cursor: pointer;
            transform: scale(0.6);
        }
    }
}

.ever-table-screen__item--add {
    float: left;
    margin-left: 8px;

    .el-button {
        padding: 8px;
    }
}

.ever-table-screen__item {
    display: flex;
    float: left;
    padding-bottom: 24px;
}

.ever-table-screen__operation {
    float: right;
    width: 330px;
    padding-bottom: 24px;
    text-align: right;
    .el-button+.el-button {
        margin-left: 8px;
    }
}

.ever-el-dialog {
    text-align: initial;
}

.ever-el-dialog__title,
.ever-el-dialog-trem {
    padding: 0 4px;
    line-height: 48px;
}

.ever-el-dialog-trem {
    >ul {
        padding: 0;

        >li {
            display: inline-block;
            list-style: none;

            &.ever-el-dialog-trem__field {
                width: 240px;
            }

            &.ever-el-dialog-trem__condition {
                width: 160px;
                margin: 0 8px;
            }

            &.ever-el-dialog-trem__value {
                width: 300px;
            }

            &.ever-el-dialog-trem__close {
                padding: 0 11px 0 17px;
                cursor: pointer;
            }
        }
    }
}

.ever-el-dialog__add {
    line-height: 48px;
    color: #3e4a6b;
    cursor: pointer;

    .ever-el-dialog__add--icon {
        padding-right: 8px;
    }
}