.btp-card {
    display: flex;
    flex-direction: column;

    .el-card__header {
        height: 48px;
        padding: 14px var(--bt-gap-s24);
        font-size: var(--bt-gap-s16);
        font-weight: 700
    }

    .el-card__body {
        position: relative;
        flex: 1;
        padding: var(--bt-gap-s16) var(--bt-gap-s32);
        overflow: hidden;
    }

    .btp-card-header {
        display: flex;
        flex-direction: row;

        .btp-card-header--title {
            flex: 1;
        }

        .btp-card-header--toolbar {
            margin-top: -2px;
        }
    }
}