$color-primary: var(--ever-color); /** 主题色*/
$color-success: var(--el-color-success); /** 成功*/
$color-warning: var(--el-color-warning); /** 警告*/
$color-error: var(--el-color-danger); /** 失败*/

/** 头部导航栏颜色 */
$color-navigation: var(--ever-color-bg-head);
