.btp-tabs.el-tabs.bt-tabs.el-tabs--top,.btp-tabs.el-tabs.bt-tabs.el-tabs--bottom {
    display: flex;
    flex-direction: column;
    .el-tabs__content{
        position: relative;
        flex:1;
        .el-tab-pane{
            position: relative;
            height: 100%;
        }
    }
}
.btp-tabs.el-tabs.bt-tabs.el-tabs--left,.btp-tabs.el-tabs.bt-tabs.el-tabs--right {
    .el-tabs__content{
        position: relative;
        height:100%;
        .el-tab-pane{
            position: relative;
            height: 100%;
        }
    }
}